* {
  box-sizing: border-box;
}
/* 
.row{
    width: 80%;
    margin: auto;
} */

/*Three columns that FLEX next to each other*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  width: 80%;
  border: black 1px solid;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 5%;
}

/*Left and Right column*/
.flex-left {
  padding: 10px;
  flex: 60%;
}

/*Middle column*/
.flex-right {
  padding: 10px;
  flex: 40%;
  text-align: center;
}

.box {
  background-color: lightgray;
  width: 300px;
  height: 300px;
  border: 10px solid black;
  padding: 10px;
  margin: auto;
}

/*Responsive layout*/
@media screen and (max-width: 600px) {
  .flex-left,
  .flex-right {
    flex: 100%;
  }
}
